.form-control {
    border-radius: 0px;
}

.bt {
    border-radius: 0px;
}

.log {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

#social-icon {
    border: 1px solid #64748b;
    padding: 6px;
    border-radius: 50%;
}